<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password | Amora Hub</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="auth-container">
        <div class="auth-branding">
            <div class="branding-content">
                <a href="/" class="logo">Amora Hub</a>
                <h1>Create your new password.</h1>
                <p>Choose a strong, new password to secure your account.</p>
            </div>
        </div>

        <div class="auth-form-container">
            <div class="form-wrapper">
                <h2>Reset Your Password</h2>
                <p>Please enter and confirm your new password below.</p>

                <%- include('partials/_messages') %>

                <form action="/reset/<%= token %>" method="POST">
                    <div class="input-group">
                        <label for="reset-password">New Password</label>
                        <div class="password-wrapper">
                            <input type="password" id="reset-password" name="password" required>
                            <button type="button" class="toggle-password" data-target="reset-password">
                                <svg class="eye-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12 15a3 3 0 100-6 3 3 0 000 6z"/><path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" clip-rule="evenodd"/></svg>
                                <svg class="eye-slash-icon hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M3.53 2.47a.75.75 0 00-1.06 1.06l18 18a.75.75 0 101.06-1.06l-18-18zM22.676 12.553a11.249 11.249 0 01-2.631 4.31l-3.099-3.099a5.25 5.25 0 00-6.71-6.71L7.759 4.577a11.217 11.217 0 014.242-.827c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113z"/><path d="M15.75 12c0 .18-.013.357-.037.53l-1.48-1.48A3.752 3.752 0 0012 10.5c-.18 0-.357.013-.53.037l-1.48-1.48A3.752 3.752 0 0010.5 9a3.75 3.75 0 00-3.75 3.75c0 .18.013.357.037.53l-1.48-1.48A3.752 3.752 0 009 12.001a3.75 3.75 0 003.75 3.75c.18 0 .357-.013.53-.037l1.48-1.48A3.752 3.752 0 0015.75 12z"/></svg>
                            </button>
                        </div>
                    </div>
                     <div class="input-group">
                        <label for="reset-confirm-password">Confirm New Password</label>
                        <div class="password-wrapper">
                            <input type="password" id="reset-confirm-password" name="confirmPassword" required>
                            <button type="button" class="toggle-password" data-target="reset-confirm-password">
                                <svg class="eye-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12 15a3 3 0 100-6 3 3 0 000 6z"/><path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" clip-rule="evenodd"/></svg>
                                <svg class="eye-slash-icon hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M3.53 2.47a.75.75 0 00-1.06 1.06l18 18a.75.75 0 101.06-1.06l-18-18zM22.676 12.553a11.249 11.249 0 01-2.631 4.31l-3.099-3.099a5.25 5.25 0 00-6.71-6.71L7.759 4.577a11.217 11.217 0 014.242-.827c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113z"/><path d="M15.75 12c0 .18-.013.357-.037.53l-1.48-1.48A3.752 3.752 0 0012 10.5c-.18 0-.357.013-.53.037l-1.48-1.48A3.752 3.752 0 0010.5 9a3.75 3.75 0 00-3.75 3.75c0 .18.013.357.037.53l-1.48-1.48A3.752 3.752 0 009 12.001a3.75 3.75 0 003.75 3.75c.18 0 .357-.013-.53.037l1.48-1.48A3.752 3.752 0 0015.75 12z"/></svg>
                            </button>
                        </div>
                    </div>
                    <button type="submit" class="submit-btn">Update Password</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/password-toggle.js"></script>
</body>
</html>